# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Compilado
dist/
.tmp/
.out/
coverage/

# Ambiente Angular
.angular/
.angular/cache/
.angular/config.json

# Editor
.vscode/
.idea/
*.sw?
*.sublime-project
*.sublime-workspace

# Sistema operacional
.DS_Store
Thumbs.db

# Test
testem.log
karma-coverage/

# Arquivos de ambiente
.env
.env.*
!.env.example

# Gerados por build
package-lock.json
yarn.lock
pnpm-lock.yaml

# Outras pastas públicas
public/

# Logs
*.log

# Arquivos temporários
*.bak
*.tmp
*.orig
*.rej
